@scope (.final-view) {
  :scope {
    margin-block-end: 1rem;
  }

  .score {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }

  .dots {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.6rem;

    .dot {
      display: grid;
      place-items: center;
      width: 1.5rem;
      aspect-ratio: 1;
      border-radius: 50%;
      font-size: 0.8rem;

      &.correct {
        background-color: var(--correct-color);
      }

      &.incorrect {
        background-color: var(--incorrect-color);
      }
    }
  }
}
