@scope (.quiz) {
  :scope {
    background-color: var(--primary-color);
    border-radius: 16px;
    padding: 3rem 1.5rem;
    box-shadow: 2px 2px 3px var(--secondary-color);
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    position: relative;

    .badge {
      position: absolute;
      top: 0.75rem;
      right: 1.5rem;
      background-color: var(--secondary-color);
      padding: 0.3rem 0.6rem;
      border-radius: 16px;
    }

    .info {
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;
      background-color: var(--info-color);
      padding: 1rem;
      border-radius: 16px;

      h3 {
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
      }

      p {
        text-wrap: pretty;
        line-height: 1.5;
        width: 100%;
      }
    }

    .buttons {
      display: flex;
      column-gap: 1rem;
    }
  }

  @keyframes vibrate {
    0% {
      transform: translateX(0);
    }

    20% {
      transform: translateX(-5px);
    }

    40% {
      transform: translateX(5px);
    }

    60% {
      transform: translateX(-5px);
    }

    80% {
      transform: translateX(5px);
    }

    100% {
      transform: translateX(0);
    }
  }
}
