.answer {
  background-color: var(--option-color);
  border-radius: 16px;
  padding: 1rem;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  font-size: 1.1rem;

  &.correct {
    background-color: var(--correct-color);
  }

  &.incorrect {
    background-color: var(--incorrect-color);
    animation: vibrate 0.3s ease-in-out;
  }

  &.cursor {
    cursor: pointer;
  }

  input {
    accent-color: var(--secondary-color);
  }
}

@keyframes vibrate {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-5px);
  }

  40% {
    transform: translateX(5px);
  }

  60% {
    transform: translateX(-5px);
  }

  80% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0);
  }
}
