@scope (footer) {
  :scope {
    text-align: center;
    padding: 1rem;

    p,
    a {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
    }

    a {
      text-decoration: none;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }

    img {
      width: 2rem;
      border-radius: 50%;
    }
  }
}
