:root {
  --primary-color: #16074e;
  --secondary-color: #462a8c;
  --option-color: #434343;
  --correct-color: #007500;
  --incorrect-color: #750019;
  --info-color: #5e458e;
  --text-color: #efeeee;
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 100dvh;
  color: var(--text-color);
  background: radial-gradient(
    125% 125% at 50% 10%,
    #121212 40%,
    var(--secondary-color) 100%
  );
}

#root {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
}

.container {
  width: min(700px, 100%);
  margin-inline: auto;
  padding-inline: 1rem;
}

h1 {
  text-align: center;
  margin-block: 1rem;
  font-size: clamp(2.5rem, calc(2rem + 1.333vw), 3rem);
  text-shadow: 2px 2px 3px var(--info-color);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 0.5rem;

  .img {
    width: 14rem;
    padding: 0.5rem;

    img {
      width: 100%;
    }
  }
}

h2 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
  line-height: 1.5;
}

button {
  border-radius: 16px;
  border: none;
  background-color: var(--secondary-color);
  font: inherit;
  padding: 1rem 2rem;
  color: var(--text-color);
  cursor: pointer;
  transition: filter 0.3s, scale 0.3s;

  &.disabled {
    opacity: 0.5;
    filter: grayscale(0.8);
  }

  &:hover {
    filter: brightness(1.15);
  }

  &:active {
    scale: 0.9;
  }
}
